
.input{
  // border: 2px solid #cccccc;
  // padding: 10px 100px 10px 10px;
  // border-radius: 2.5px;
  // background-color: white;

  .input::placeholder{
      color: #cccccc;
  }

  &--disabled{
    border: 2px solid #f6f6f6;
  }
  &--disabled::placeholder{
    color: #f6f6f6;
  }

  &--error{
    border: 2px solid #e85257;
  }
    &--error::placeholder{
      color: #e85257;
    }

    &--focussed{
      border: 2px solid #888e90;
    }
}

.inputWithIconLeft{
  // border: none;
  // margin-left: 10px;
}

.inputWithIconRight{
  border: none;
}

.icon svg{
  padding-top: 5px;
}

.flex{
  display: flex;
  align-items: center;
}
