@import '../../theme/main';

.button {
  @include em-font-size(14);

  background-color: $green;
  border: 2px solid $green;
  border-radius: $comp-radius;
  color: $color-white;
  cursor: pointer;
  font-family: $font-buttons;
  font-weight: 600;
  line-height: ($comp-size - 4px); // 4px = border-top + border-bottom
  outline: 0;
  padding: 0 $gutter;
  position: relative;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.8px;

  @include transition;

  @include hover {
    background: $green-darker;
    border-color: $green-darker;
  }

  .label {
    @include transition(opacity);
    opacity: 1;
  }

  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }

  .icon {
    display: flex;
    align-items: center;

    > * {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .icon-left {
      margin-right: 8px; //todo: var
    }

    .icon-right {
      margin-left: 8px; //todo: var
    }
  }

  &--icon-only {
    color: $green;
    padding: 2px;
    background: none;
    border: none;

    &:hover {
      color: $green-dark;
      background: none;
    }
  }

  &--outlined {
    background: none;
    border-color: $green;
    color: $green;

    @include hover {
      background: $green-light;
      border-color: $green-light;
      color: $color-white;
    }

    &.button--loading {
      background: $green-light;
      border-color: $green-light;
      color: $color-white;
    }
  }

  &--red {
    background-color: $red;
    border-color: $red;

    @include hover {
      background-color: $red-dark;
      border-color: $red-dark;
    }

    &.button--outlined {
      background: none;
      color: $red;

      @include hover {
        background: $red-light;
        border-color: $red-light;
        color: $color-white;
      }

      &.button--loading {
        background: $red-light;
        border-color: $red-light;
        color: $color-white;
      }
    }
  }

  &--green-lime {
    background-color: $green-lime;
    border-color: $green-lime;
    color: $green;

    @include hover {
      background-color: $green;
      border-color: $green;
      color: $color-white;
    }

    &.button--outlined {
      background: none;
      color: $green-lime;

      @include hover {
        background: none;
        color: $green;
      }
    }
  }

  &--green-dark {
    background-color: $green-dark;
    border-color: $green-dark;
    color: $color-white;

    @include hover {
      background-color: $green;
      border-color: $green;
      color: $color-white;
    }

    &.button--outlined {
      background: none;
      color: $green-dark;

      @include hover {
        background: none;
        color: $green;
      }
    }

    &.button--loading {
      background: $green;
      border-color: $green;
      color: $color-white;
    }
  }

  &--white {
    background-color: $color-white;
    border-color: $color-white;
    color: $color-black;

    @include hover {
      background-color: $green-lime;
      border-color: $green-lime;
      color: $color-black;
    }

    &.button--outlined {
      background: none;
      color: $color-white;

      @include hover {
        background: $color-white;
        border-color: $color-white;
        color: $color-black;
      }
    }
  }

  &--blue {
    background-color: $blue-button;
    border-color: $blue-button;
    color: $color-white;

    @include hover {
      background-color: $blue-facebook;
      border-color: $blue-facebook;
      color: $color-white;
    }

    &.button--outlined {
      background: none;
      color: $blue-button;

      @include hover {
        background: $blue-button;
        border-color: $blue-button;
        color: $color-white;
      }
    }
  }

  &--small {
    line-height: ($comp-small-size - 4px); // 4px = border-top + border-bottom
    padding: 0 $gutter;
  }

  &--large {
    line-height: ($comp-large-size - 4px); // 4px = border-top + border-bottom
    padding: 0 $gutter;
  }

  &--wide {
    width: 100%;
  }

  &--loading {
    opacity: 1 !important;

    .button {
      &__label {
        opacity: 0;
      }
    }
  }

  &--round {
    border-radius: $comp-small-size;
  }

  &--margin {
    margin: $gutter-xs;
  }

  &--clear {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    background: none;
    color: $green;

    @include hover {
      color: $green-dark;
      background: none;
    }
  }
}
