@import '../../theme/theme';

.popup{
   @include em-font-size(14);
   text-align: center;
   text-decoration: none;
   background-color: $white;
   width: 50%;
   width: 20rem;
   padding: 10px;
   border-radius: 5%;
}
