// Margins

.no-margin {
  margin: 0 !important;
}

.margin-bottom {
  margin-bottom: $spacing-m;
}

.margin-top {
  margin-top: $spacing-m;
}

.margin-start {
  margin-left: $spacing-m;
}

.margin-end {
  margin-right: $spacing-m;
}

// Paddings

.padding-bottom {
  margin-bottom: $spacing-m;
}

.padding-top {
  margin-top: $spacing-m;
}

.padding-start {
  margin-left: $spacing-m;
}

.padding-end {
  margin-right: $spacing-m;
}
