// Variables that will be placed in this file here will be accessible in JS and SCSS.

/**********/
/* Colors */
/**********/

$color-black: #2C0B2A;
$color-white: #FFF;

$color-primary :#46ACA6;
$color-primary-light: #DFF2F2;

$text-color: #888E90;

$color-gray: #BFBFBF;
$color-gray-dark: #949A9E;
$color-gray-darker: #333;
$color-gray-light: #CCC;
$color-gray-lighter: #EEE;

$color-green: #1BA598;
$green-alternate: #23B3A5;
$green-light: #A0D8D3;
$green-light-darker: darken($green-light, 10);
$green-lighter: #CEE1D9;
$green-lightest: #F9FBFA;
$green-dark: #158378;
$green-dark-alternate: darken($green-dark, 5);
$green-darker: #0B413C;
$green-darkest: #073430;
$green-lime: #DDF3E9;
$green-lime-light: #EAF8F1;
$green-lime-lighter: #F0F8F4;
$green-lime-alternate: darken($green-lighter, 5);
$green-lime-dark: #97C7B1;

$color-red: #FF5757;
$red-light: #FCA0A0;
$red-lighter: #ECE1DB;
$red-dark: #A12E2D;
$red-google: #DC4E41;

$color-yellow: #F1C40F;

$color-blue: #0091EA;
$color-blue-light: #5CDBFD;
$color-blue-button: #558FFF;
$color-blue-facebook: #39599E;

$electricity: $color-yellow;
$gas: $color-blue;
$water: $color-blue-light;

/*********/
/* Fonts */
/*********/

$font-body: 'Montserrat', sans-serif;
$font-headings: 'Montserrat', sans-serif;
$font-buttons: 'Montserrat', sans-serif;
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

/*********/
/* Font sizes */
/*********/

$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;

/***********/
/* Gutters */
/***********/

$gutter: 20px;
$gutter-xxs: $gutter / 4;
$gutter-xs: $gutter / 3;
$gutter-s: $gutter / 2;
$gutter-m: $gutter;
$gutter-l: $gutter * 2;
$gutter-xl: $gutter * 3;
$gutter-xxl: $gutter * 4;


/**********/
/* Layers */
/**********/

$zi-label: 1;
$zi-button: 2;
$zi-overlay: 3;
$zi-loader: 4;
$zi-modal: 5;
$zi-footer: 6;
$zi-header: 7;
$zi-fallback: 8;
$zi-checkbox: 200;

/***************/
/* Screen size */
/***************/

$screen-xxxs: 370px !default;
$screen-xxs: 400px !default;
$screen-xs: 480px !default;
$screen-sm: 800px !default;
$screen-md: 992px !default;
$screen-lg: 1420px !default;
$screen-xl: 1600px !default;

/******************/
/* Media queries */
/*****************/

$desktop: '(min-width: #{$screen-xl})';
$laptop: '(min-width: #{$screen-lg})';
$netbook: '(min-width: #{$screen-md + 220})';
$tablet: '(min-width: #{$screen-md})';
$phablet: '(min-width: #{$screen-sm})';
$landscape-phone: '(min-width: #{$screen-xs + 120})';
$phone: '(min-width: #{$screen-xs})';
$smallphone: '(min-width: #{$screen-xxs})';
$smallerphone: '(min-width: #{$screen-xxxs})';

/******************/
/* Refactor these */
/*****************/
 $state-hover: 'html:not(.touchevents) &:not([disabled]):not(.is-disabled):hover';

$gratis-img-width: 85px;
$gratis-img-height: 42px;

$comp-radius: 3px;
$comp-radius-l: 30px;

$comp-small-size: 30px;
$comp-medium-size: 40px;
$comp-large-size: 51px;
$comp-size: $comp-medium-size;
$comp-regular-size: $comp-size;

/************/
/* Textarea */
/************/
$textarea-small: 50px;
$textarea-medium: 100px;
$textarea-large: 150px;
$textarea-xlarge: 200px;


/***************/
/* Transitions */
/***************/
$transitionspeed-normal: 0.2s;
$transitionspeed-faster: 0.6s;

/***********/
/* Spacing */
/***********/
$spacing-normal: 20px;
