// Variables that will be placed in this file here will be accessible in JS and SCSS.

/**********/
/* Colors */
/**********/

$color-black: #2C0B2A;
$color-white: #FFF;

$color-primary: #46ACA6;
$color-primary-light: #DFF2F2;

$text-color: #888E90;

$color-gray: #BFBFBF;
$color-gray-dark: #949A9E;
$color-gray-darker: #333;
$color-gray-light: #CCC;
$color-gray-lighter: #EEE;
$color-error: #FF5757;

$color-green: #1BA598;
$green-alternate: #23B3A5;
$green-light: #A0D8D3;
$green-light-darker: darken($green-light, 10);
$green-lighter: #CEE1D9;
$green-lightest: #F9FBFA;
$green-dark: #158378;
$green-dark-alternate: darken($green-dark, 5);
$green-darker: #0B413C;
$green-darkest: #073430;
$green-lime: #DDF3E9;
$green-lime-light: #EAF8F1;
$green-lime-lighter: #F0F8F4;
$green-lime-alternate: darken($green-lighter, 5);
$green-lime-dark: #97C7B1;

$color-red: #FF5757;
$red-light: #FCA0A0;
$red-lighter: #ECE1DB;
$red-dark: #A12E2D;
$red-google: #DC4E41;

$color-yellow: #F1C40F;

$color-blue: #0091EA;
$color-blue-light: #5CDBFD;
$color-blue-button: #558FFF;
$color-blue-facebook: #39599E;

$electricity: $color-yellow;
$gas: $color-blue;
$water: $color-blue-light;

/*********/
/* Fonts */
/*********/

$body-line-height: 1.4;
$heading-line-height: 1.2;

$font-body: 'Montserrat', sans-serif;
$font-headings: 'Montserrat', sans-serif;
$font-buttons: 'Montserrat', sans-serif;
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

/**************/
/* Font sizes */
/**************/
$font-size-xs: 0.714em;
$font-size-s: 0.857em;
$font-size-m: 1em;
$font-size-l: 1.143em;
$font-size-xl: 1.286em;
$font-size-xxl: 1.429em;

/***************/
/* Font weight */
/***************/
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/***********/
/* Gutters */
/***********/

$gutter: 20px;
$gutter-xxs: $gutter / 4;
$gutter-xs: $gutter / 3;
$gutter-s: $gutter / 2;
$gutter-m: $gutter;
$gutter-l: $gutter * 2;
$gutter-xl: $gutter * 3;
$gutter-xxl: $gutter * 4;


/**********/
/* Layers */
/**********/

$zi-label: 1;
$zi-button: 2;
$zi-overlay: 3;
$zi-loader: 4;
$zi-modal: 5;
$zi-footer: 6;
$zi-header: 7;
$zi-fallback: 8;
$zi-checkbox: 200;

/***************/
/* Screen size */
/***************/

$screen-xxxs: 370px !default;
$screen-xxs: 400px !default;
$screen-xs: 480px !default;
$screen-sm: 800px !default;
$screen-md: 992px !default;
$screen-lg: 1420px !default;
$screen-xl: 1600px !default;

/******************/
/* Media queries */
/*****************/

$desktop: '(min-width: #{$screen-xl})';
$laptop: '(min-width: #{$screen-lg})';
$netbook: '(min-width: #{$screen-md + 220})';
$tablet: '(min-width: #{$screen-md})';
$phablet: '(min-width: #{$screen-sm})';
$landscape-phone: '(min-width: #{$screen-xs + 120})';
$phone: '(min-width: #{$screen-xs})';
$smallphone: '(min-width: #{$screen-xxs})';
$smallerphone: '(min-width: #{$screen-xxxs})';

/******************/
/* Refactor these */
/*****************/
$state-hover: 'html:not(.touchevents) &:not([disabled]):not(.is-disabled):hover';

$gratis-img-width: 85px;
$gratis-img-height: 42px;

$comp-radius: 3px;
$comp-radius-l: 30px;

$comp-small-size: 30px;
$comp-medium-size: 40px;
$comp-large-size: 51px;
$comp-size: $comp-medium-size;
$comp-regular-size: $comp-size;

/************/
/* Textarea */
/************/
$textarea-small: 50px;
$textarea-medium: 100px;
$textarea-large: 150px;
$textarea-xlarge: 200px;


/***************/
/* Transitions */
/***************/
$transitionspeed-normal: 0.2s;
$transitionspeed-faster: 0.6s;

/***********/
/* Spacing */
/***********/

$spacing-baseline: 1.714em;

$spacing-s: $spacing-baseline / 2;
$spacing-m: $spacing-baseline;
$spacing-l: $spacing-baseline * 2;
$spacing-xl: $spacing-l * 2;

:root {
  // Use this tool to generate rich color sets:
  // https://ionicframework.com/docs/theming/color-generator
  --color-primary: #46ACA6;
  --color-primary-rgb: 70, 172, 166;
  --color-primary-contrast: #ffffff;
  --color-primary-contrast-rgb: 255, 255, 255;
  --color-primary-shade: #3e9792;
  --color-primary-tint: #59b4af;

  --color-facebook: #39599E;
  --color-facebook-rgb: 57, 89, 158;
  --color-facebook-contrast: #ffffff;
  --color-facebook-contrast-rgb: 255, 255, 255;
  --color-facebook-shade: #324e8b;
  --color-facebook-tint: #4d6aa8;

  --color-google: #E03945;
  --color-google-rgb: 224,57,69;
  --color-google-contrast: #ffffff;
  --color-google-contrast-rgb: 255,255,255;
  --color-google-shade: #c5323d;
  --color-google-tint: #e34d58;

  --color-gray: #BFBFBF;
  --color-gray-dark: #949A9E;
  --color-gray-darker: #333;
  --color-gray-light: #CCC;
  --color-gray-lighter: #EEE;
  --color-disabled: var(--color-gray);

  --color-white: #ffffff;
  --color-dark: #172328;

  --color-error: #FF5757;
  --color-error-contrast:#ffffff;

  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;

  --font-size-xs: 0.714em;
  --font-size-s: 0.857em;
  --font-size-m: 1em;
  --font-size-l: 1.143em;
  --font-size-xl: 1.286em;
  --font-size-xxl: 1.429em;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --icon-size-xs: 1em;
  --icon-size-s: 1.5em;
  --icon-size-m: 2em;

  --zi-100: 100;
  --zi-150: 150;
  --zi-200: 200;
  --zi-300: 300;

  --spacing-baseline: 1em;
  --spacing-xs: calc(var(--spacing-s) / 2);
  --spacing-s: calc(var(--spacing-baseline) / 2);
  --spacing-m: var(--spacing-baseline);
  --spacing-l: calc(var(--spacing-baseline) * 2);
  --spacing-xl: calc(var(--spacing-l) * 2);

  --border-radius-s: 2px;

  --box-shadow-m: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  @media only screen and (min-width: 400px) {
    --spacing-baseline: 1.714em;
  }

  --screen-xxxs: 370px;
  --screen-xxs: 400px;
  --screen-xs: 480px;
  --screen-sm: 800px;
  --screen-md: 992px;
  --screen-lg: 1420px;
  --screen-xl: 1600px;

  --transition-speed-normal: 0.2s;
  --transition-speed-faster: 0.6s;
}
