@import '~june-design-system/dist/scss/shared_variables';

.june-design-system {
  @import '~june-design-system/dist/scss/main.scss';
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

label {
  display: block;
}
.pop
.input-group {
  margin-bottom: 8px;
}

.props {
  margin-bottom: 32px;
}

/*FORM - formikForm.jsx*/

.form {
  text-align: center;
  margin: 0 auto;
}

.form .container {
  border-bottom: 2px solid #DFF2F2;
  max-width: 450px;
  margin: 10px;
  padding-bottom: 20px;
}

.form .flex{
  display: flex;
  justify-content: space-between;
}

/*POPUP - popup.jsx*/

.popup{
  text-align: center;
  text-decoration: none;

}
.popup.afterClick{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #46ACA6;

  color: white;
}

.popup.p{
 width: 80%;
  padding-left: 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
}

.closeButton{
  position: absolute;
  top: 20px;
  right: 10px;
  color: white;

}


/*Style Changes Error / Touched */

.div{
  padding: 10px;
  display: flex;
  width: 15rem;
}

.flexStyle{
  display: flex;
}

.flexBox{
  display: flex;
  flex-flow: column-reverse;
  width: 100%;
}
